@import "../variable.scss";
.sidebar{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: $yt-dark;
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow-y: scroll;
    padding:20px;
    transform: translateX(-200px);
    transition: all .6s ease;
    position: fixed;
    top: 70px;
    z-index: 1;
}
.link{
    width: 100%;
    transition: $transition;
    border-radius: 12px;
    padding: 5px 10px;
    &:hover{
        background-color: red;
    }
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

}

.text{
    color: $white;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    letter-spacing: 0.5px;
}